body {
    font-family: system-ui;
}

.flex_parent {
    display: flex;
}

.flex_child {
    flex: 1;
    padding: auto;
}

.threed {
    border: 0.5rem solid red;
    stroke: #444;
}

/* Media Queries */

@media (max-width: 640px) { 
    .flex_parent {
        flex-direction: column;
    }
 }
