body {
    font-family: system-ui;
}

.flex_parent {
    display: flex;
}

.flex_child {
    flex: 1;
    padding: auto;
}

.threed {
    /* border: 0.5rem inset red; */
    stroke: #94872d;
    stroke-opacity: 0.7;
}

/* Media Queries */

@media (max-width: 640px) { 
    .flex_parent {
        flex-direction: column;
    }
 }

 #rect1 {
    fill: url("#Gradient1");
}
.stop1 {
    stop-color: #7a7b57;
}
.stop2 {
    stop-color: #35352e;
    /* stop-opacity: 0; */
}
.stopa {
    stop-color: #298022;
}
.stopb {
    stop-color: #1a611e;
    /* stop-opacity: 0; */
}